.timer-container {
  background-color: var(--timer-background-color);
  border: var(--timer-border);
  height: var(--timer-height);
  width: var(--timer-width);
}

.timer-button-container {
  display: flex;
  align-items: flex-end;
}
